@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	/* Fuente: https://www.gradientmagic.com/collection/popular/gradient/1587510852621 */
	background-image: radial-gradient(circle at top right, rgb(36, 9, 119) 0%, rgb(36, 9, 119) 48%,rgb(72, 7, 149) 48%, rgb(72, 7, 149) 53%,rgb(109, 5, 178) 53%, rgb(109, 5, 178) 56%,rgb(145, 2, 208) 56%, rgb(145, 2, 208) 69%,rgb(181, 0, 237) 69%, rgb(181, 0, 237) 100%);
	height: 100%;
	width: 100%;
}

/* Contenedores */
.content {
	width: 90%;
	border: 5px solid #000000;
    border-radius: 25px;
	background-color: #353840;
	margin: 20px auto 40px auto;
	padding: 20px;
}
.hContainer {
    display: inline-block;
    text-align: center;
}
.vContainer {
	padding: auto;
	margin: 0px;
	display: flex;
	flex-direction: column;
}
.vContainerCenteredContents {
	padding: auto;
	margin: 0px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

/* Componentes */
p, div, tr, td, h1, h2, h3, li, a, button {
	font-family: "Roboto", sans-serif;
	color: white;
}
h1 {
	margin-bottom: 30px;
}
h2 {
	margin-bottom: 12px;
}
h3 {
	margin-bottom: 8px;
}
li, a, button {
	font-weight: 500;
	font-size: 18px;
	text-decoration: none;
}
a.href {
	color: aqua;
}
a.href:hover {
	color: blue;
}
button {
  background-color: #00997a;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
button.flashyButton {
  background-color: crimson;
}
table.fitContent {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

/* Cabecera */
header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 5%;
	background-color: #353840;
}
header.subHeader {
	padding: 30px 10%;
	background-color: #494b53;
}
.headerLinks {
	list-style: none;
}
.headerLinks li {
	display: inline-block;
	padding: 0px 25px;
}
.headerLinks li a {
	transition: all 0.3 ease 0s;
}

/* Pie */
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background-color: #494b53;
}

/* Formularios */
form.login, form.signup {
	width: 40%;
	align-items: center;
	border: 5px solid #000000;
	background-color: #353840;
	margin: 20px auto 40px auto;
	padding: 20px;
}
form h3 {
	font-family: "Roboto", monospace;
    color: white;
	margin: 5% auto;
}
form label {
	font-family: "Roboto", monospace;
    color: white;
	margin: 10px 0 0 0;
}
form button {
	padding: 14px 20px;
	margin: 50px auto 0 0;
}
form button.flashyButton {
	margin: 5px auto 0 0;
}
form input[type=text], form input[type=password] {
	width: 101%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
form img.avatar {
	width: 30%;
	margin: 0 auto;
}
